In [20]:
import os
import pandas as pd
from IPython.display import display, HTML


base_path = '/Users/ekvashyn/Code/mXf/magicXform-utils/results/time_tracker_last'
versions = ['ver_1', 'ver_2', 'ver_3']
data = {}

# Function to filter unwanted file names
def filter_file(file_name):
    return not (file_name.startswith('LOG-') or file_name.startswith('INV-'))

# Iterate through versions and folders to gather data
for version in versions:
    version_data = {}
    version_path = os.path.join(base_path, version)
    
    for folder in ['SAT', 'UNSAT', 'TIMEOUT']:
        folder_path = os.path.join(version_path, folder)
        
        for file_name in filter(filter_file, os.listdir(folder_path)):
            split_name = file_name.split('-')
            seconds = split_name[0]
                    
            version_data[split_name[1]] = seconds if folder == 'SAT' else 'fail' if folder == 'FAILED' else 'ထ' if folder == 'TIMEOUT' else 'UNSAT'
    
                
    data[version] = version_data

# Create a DataFrame from the collected data and transpose it for the desired table orientation
df = pd.DataFrame(data).fillna('fail').sort_index()

def color_cells(val):
    color = ''
    if val == 'fail':
        color = 'red'
    elif val == 'UNSAT':
        color = 'purple'
    elif val == 'ထ':
        color = 'lightblue'
    return f'color: {color}'

# Apply the style function to the DataFrame
styled_df = df.style.applymap(color_cells)

# Display the styled DataFrame
styled_df

/var/folders/z9/ydkpgxln65s0j_sd0mk1z0rc0000gp/T/ipykernel_22021/455970474.py:45: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = df.style.applymap(color_cells)

In [21]:
# Function to count files in each folder
def count_files(version_path):
    folders = ['SAT', 'UNSAT', 'TIMEOUT']
    files_count = {}

    for folder in folders:
        folder_path = os.path.join(version_path, folder)
        split_files = [file for file in filter(filter_file, os.listdir(folder_path)) if os.path.isfile(os.path.join(folder_path, file))]
        files_count[folder] = len(split_files)

    return files_count

# Iterate through versions and count files in each folder
for version in versions:
    version_path = os.path.join(base_path, version)
    files_count = count_files(version_path)
    
    print(version)
    for folder, count in files_count.items():
        print(f"\t{folder}: {count} files")

ver_1
	SAT: 29 files
	UNSAT: 0 files
	TIMEOUT: 29 files
ver_2
	SAT: 18 files
	UNSAT: 32 files
	TIMEOUT: 7 files
ver_3
	SAT: 32 files
	UNSAT: 0 files
	TIMEOUT: 24 files